body{
    background: url(/images/main.webp); //圖路徑
    background-repeat: no-repeat; //不重復
    background-attachment: fixed; //固定背景
    background-size: cover; //背景圖放大到容器大小
    background-postition: 50% 50%; //背景位置置中
}